
.hero {
    background-image: url(assets/juhb1.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.9);
    background-blend-mode: lighten;
}

.behigher {
    margin-top: 2%;
    margin-left: 1%;
}

#email {
    font-size: 16px;
}

/* Hamburger menu  */
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

#myNav {
    width: 100%;
    display: none;
}

#name {
    text-align: center;
    Font-Family: 'Lobster', Sans-Serif;
    Font-Size: 35px;
    color: whitesmoke;
}


.overlay { 
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0..5); 
    overflow-x: hidden; 
    transition: 0.5s; 
}
  
.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 2.0s; 
 }
  

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    /* background: grey; */
}
  
.overlay  {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}

.navvy {
    font-weight: 1000;
}

#about {
    padding-top: 6%;
    margin-top: 5%;
    /* width: 50%;
    height: 25%; */
    /* background-image: linear-gradient(to bottom left, #0f2862, #091f36, #4f5f76); */
    /* padding: 15%; */
    /* float: left; */
    text-align: center;
    color: block;
    /* position: absolute; */
    
}
#contact-font, 
#about-font,
#project-font {
    font-size: 45px;
    font-family: 'Lobster',  cursive;
}

#contact {
    /* width: 50%;
    height: 75%; */
    /* background-image: linear-gradient(to bottom left, #0f2862, #091f36, #4f5f76); */
    /* float: right; */
    /* padding: 15%; */
    text-align: center;
    color: black;
}

#portfolio {
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    /* background-image: linear-gradient(to bottom left, #0f2862, #091f36, #4f5f76); */
}

.info {
    display: none;
    width: 75%;
    height: 75%;
    margin-right: auto;
    margin-left: auto;
}

#about:hover .info {
    display: block;
    width: 75%;
    height: 75%;
    margin-right: auto;
    margin-left: auto;
}

#pic {
    border-radius: 25px;
    height: 15%;
    width: 15%;
    float: left;
}

.box-wrap{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:1%;
}
.box{
    padding:4%;
    margin:2%;
    background:white;
    width:35%;
    border:1px solid #d6d6d6;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
    border-radius:3px;
    transition:.2s all; 
}
.box-wrap:hover .box{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
}
.box-wrap:hover .box:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 25px 20px 0px rgba(0,0,0,0.125);
}

#souschef {
    background-image: url(assets/sousChef.png);
    -webkit-background-size: cover;
}

#train {
    background-image: url(assets/trinschedule.jpg);
    -webkit-background-size: cover;
}

#crystals {
    background-image: url(assets/crystal.jpg);
    -webkit-background-size: cover;
}

#ff {
    background-image: url(assets/friendfinder.png);
    -webkit-background-size: cover;
}

#burger {
    background-image: url(assets/daburger.jpg);
    -webkit-background-size: cover;
}

#gup {
    background-image: url(assets/gassupimg.png);
    -webkit-background-size: cover;
}

#conoptions {
    display:none;
}

#contact:hover #conoptions {
    display: inline;
}

#linkedin {
    height:75px;
    width:75px;
}

#github {
    height:75px;
    width: 75px;    
}

#resume {
    height:75px;
    width:75px;
}

#art {
    margin-left: 75%;
}

#ig-logo {
    height: 10%;
    width: 10%;
}

#exp {
    font-family: "Comic Sans MS", cursive, sans-serif;  
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100%;
    animation:signup-response 2.5s 1;
    -webkit-animation:signup-response 2.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2.5s;
    -webkit-animation-delay:2.7s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

} 

@keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
}



/* #app-name,
#app-code {
    display: none;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

/* #app-name {
    position: fixed;
    top: 2px;
    left: 4px;
}

#app-code {
    position: fixed;
    top: 35px;
    left: 4px;
}



.box-wrap:hover .box:hover #app-code{
    display: block;
}

.box-wrap:hover .box:hover #app-name{
    display: block;
} */